@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+DE+SAS:wght@100..400&family=Playwrite+IT+Trad+Guides&display=swap');
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter weight;
    color : rgb(11, 108, 132);
    
}
h1:hover {
    color: rgb(7, 79, 97);
    cursor: pointer;
}
hr {
    width: 100%;
    height: 2px;
    background-color: rgb(11, 108, 132);
}

details summary {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter weight;
    font-size: 1.7em;
    color: rgb(11, 108, 132);
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
}
details summary:hover {
    color: rgb(7, 79, 97);
    font-size: 1.7rem;
}
details ul li {
    font-family: 'Playwrite DE SAS ', sans-serif;
    font-weight: lighter weight;
    font-size: 1.5em;
    color: rgb(11, 108, 132);
    margin: 5px 0;
    
}
details ul li a {
    text-decoration: none;
    color: rgb(11, 108, 132);
    padding: 10px;
}
details ul li a:hover {
    color: rgb(1, 62, 77);
    font-size: 1.6rem;
}

